<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body style="">
    <section class="hero-skill">
        <ul class="list hero-skill-list">
            <li class="list-item hero-skill-group">
                <div class="hero-skill-image-container">
                    <img class="hero-skill-image" src="../assets/Shattering-Screech.webp" alt="">
                </div>
                <div class="hero-skill-name">Death From Above</div>
            </li>
            <li class="list-item hero-skill-group">
                <div class="hero-skill-image-container">
                    <img class="hero-skill-image" src="../assets/Death-From-Above.webp" alt="">
                </div>
                <div class="hero-skill-name">Death From Above</div>
            </li>
            <li class="list-item hero-skill-group">
                <div class="hero-skill-image-container">
                    <img class="hero-skill-image" src="../assets/Song-of-Swiftness.webp" alt="">
                </div>
                <div class="hero-skill-name">Death From Above</div>
            </li>
            <li class="list-item hero-skill-group">
                <div class="hero-skill-image-container">
                    <img class="hero-skill-image" src="../assets/Aiming-High.webp" alt="">
                </div>
                <div class="hero-skill-name">Death From Above</div>
            </li>
            <li class="list-item hero-skill-group">
                <div class="hero-skill-image-container">
                    <img class="hero-skill-image" src="../assets/Avian-Splendor.webp" alt="">
                </div>
                <div class="hero-skill-name">Death From Above</div>
            </li>
        </ul>
        <div class="hero-skill-description-container">
            <h3 class="hero-skill-name">Death From Above</h3>
            <div class="hero-skill-description">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error atque enim consequatur praesentium
                    a est quod pariatur minima iure nam!</span>
            </div>
            <div class="hero-skill-level-container">
                <div class="hero-skill-level">
                    <span class="herro-skill-effect">Hero skill damage dealt bonus: </span>
                    <span class="hero-skill-factor">10% / 15% / 20% / 25% / 30%</span>
                </div>
                <div class="hero-skill-level">
                    <span class="herro-skill-effect">Counterattack damage bonus:</span>
                    <span class="hero-skill-factor">100 / 150 / 200 / 250 / 300</span>
                </div>
            </div>
        </div>
        <div class="hero-skill-background-logo">
            <img src="../assets/Springwardens.png" alt="">
        </div>
        <div class="hero-race-logo">
            <img src="../assets/Springwardens.webp" alt="">
        </div>
    </section>

</body>

</html>